body {
    margin: 0px;
    padding: 0px;
    height: 100vh;  /*viewport height*/
    display: grid;
    font-family: Arial;
    background-color: rgba(195, 40, 33, 0.84);
    grid-template-columns: 200px 200px 50px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header ."
        "thing1 thing2 ."
        "sol2 sol1 ."
}

#h1 {
    grid-area: header;
}

#sol2{
    grid-area: sol2;
}

#sol1{
    grid-area: sol1;
}