body {
    margin: 0px;
    padding: 0px;
    height: 100vh; 
    display: grid;
    font-family: Arial;
    background-color: rgba(195, 40, 33, 0.84);
    grid-template-columns: 200px 200px 50px;
    grid-template-rows: auto;
    column-gap: 40px;
    grid-template-areas:
        "header header ."
        "rads thing2 ."
        "sol sol ."
}

#perserverance{
    grid-area: thing2;
}

#rads{
    grid-area: rads;
}

#h1 {
    grid-area: header;
}


#sol1{
    grid-area: sol;
}